html, body{
height: 100%;
}

p{
    text-align: justify-all;
}


/*Estilo para la barra de navegación */

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: salmon;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Estilo de la tabla */

table{
    border-collapse: 1px solid black;
    background-color: #f1f1f1;
}

th{
  border:1px solid black;
  background-color: salmon;
}

/* clase para lista codones */

.codon_list{
    display: block;

}
.list{
    color: black;
    float: none;
    background-color: none;
    list-style-type: circle;
}

/* Estilo para las imagenes */


 .imagen_aminoacido{
     width:300px;
     height:300px;
     border-radius:10%;
     display: block;
     margin-left: auto;
     margin-top: 10px;
     margin-right: auto; 
}


#costado_izquerdo{ 
  left: 5%;
  right: 30%;
  width: 70%;
  padding-left: 3%;



}

/*parrafo inicial*/

#costado_derecho{
position:absolute;
top:10%;
left:75%;
width:20%;
margin-top:10px;
background-color: f1f1f1;


}

/* listado de aminoácidos de pagina principal */

.lista_aa{
    display: block;

}
.lista_aa_2{
    color: black;
    float: none;
    background-color: none;
    list-style-type: circle;
}

/*imagen de gotonekke*/
 #gato {
     width:300px;
     height:300px;
     border-radius:10%;
     display: block;
     margin-left: auto;
     margin-top: 10px;
     margin-right: auto;  